.editor {
  box-sizing: border-box;
  cursor: text;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
  background: inherit;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 60px;
}

@media screen and (min-width: 600px) {
  .editor {
    font-size: 18px;
  }
}
